
@{
    ViewData["Title"] = "Index";
}

@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Portfolio</title>
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" type="text/css" />

</head>
<body>
    <header>
        <div class="logo">Suman Khadka</div>
        <div class="tagline">Web Designer and Developer</div>
    </header>

    <nav>
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>

    <section id="about">
        <h2>About Me</h2>
        <p>I am a web designer and developer. I specialize in creating responsive websites using HTML, CSS, and JavaScript.</p>
    </section>

    <section id="skills">
        <h2>Skills and Experience</h2>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Bootstrap</li>
            <li>jQuery</li>
        </ul>
    </section>

    <section id="portfolio">
        <h2>Portfolio</h2>
        <div class="project">
            <img src="images/project1.jpg" alt="Project 1">
            <h3>Project 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="project">
            <img src="images/project2.jpg" alt="Project 2">
            <h3>Project 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="project">
            <img src="images/project3.jpg" alt="Project 3">
            <h3>Project 3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </section>

    <section id="contact">
        <h2>Contact Me</h2>
        <form>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email">
            <label for="message">Message:</label>
            <textarea id="message" name="message"></textarea>
            <input type="submit" value="Send">
        </form>
    </section>


</body>
</html>*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Portfolio Website Design</title>
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" type="text/css" />
    @*<link rel="stylesheet" href="../css/style.css">*@

    <!-- Font Awesome, a popular icon font and CSS toolkit. Specifically, it tries to render an icon using the "fa-solid" style with the name "fa-a". -->
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">*@
    <link href="@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css")" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="hero-header">
        <div class="wrapper">
            <header>
                <div class="logo">
                    <i class="fa-solid fa-s"></i>
                    <div class="logo-text">Suman Khadka</div>
                </div>
                <nav>
                    <div class="togglebtn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <ul class="navlinks">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">Resume</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </header>

            <div class="container">
                <div class="hero-pic">
                    <img src="propic.jpg" alt="profile pic">
                </div>
                <div class="hero-text">
                    <h5>Hi I'm <span class="input">Frontend Developer</span></h5>
                    <h1>Suman Khadka</h1>
                    <p>I am a web designer and developer. I specialize in creating responsive websites using HTML, CSS, and JavaScript. Currently I am learning python django.</p>
                    <div class="btn-group">
                        <a href="#" class="btn active">Download CV</a>
                        <a href="#" class="btn">Contact</a>
                    </div>

                    <div class="social">
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- typed js for typing text effect -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.10/typed.min.js"></script>
    <script>
        // Creating button click show hide navbar

        var togglebtn = document.querySelector(".togglebtn");
        var nav = document.querySelector(".navlinks");
        var links = document.querySelector(".navlinks li");

        togglebtn.addEventListener("click", function(){
            this.classList.toggle("click");
            nav.classList.toggle("open");
        })

        var typed = new Typed(".input",{
            strings:["Frontend Developer", "Web Developer", "UX Designer"],
            typedSpeed:70,
            backSpeed:55,
            loop:true
        })
    </script>
</body>
</html>
